# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Videos just dance (muy pesados)
public/assets/images/just-dance/*.mp4

# Documentos ofimáticos
*.docx
*.pdf
*.xlsx

# Archivos comprimidos y temporales
*.zip
*.tar.gz
temp/
temp_*/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
